CREATE TABLE IF NOT EXISTS "TuongTac" (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID NOT NULL REFERENCES "ToChuc"(id),
  customer_id UUID NOT NULL REFERENCES "KhachHang"(id),
  interaction_date TIMESTAMPTZ NOT NULL,
  type TEXT NOT NULL,
  notes TEXT,
  status TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  row_version BIGINT NOT NULL DEFAULT 1,
  deleted_at TIMESTAMPTZ
);
